$btn-padding-x: 2rem;
$btn-padding-y: .5rem;
$btn-height: 2.75rem;
$btn-height-lg: 3rem;
$btn-radius: .25rem;
$btn-shadow: 0 .5rem 1rem 0;
$btn-color: purple;
$btn-border-color: grey;

// Wraps focus styles in class for keyboard inpnut mode only
@mixin focus($filter-selectors: '', $additional-selectors: false) {
  @if $additional-selectors {
    #{$additional-selectors},
    .use-keyboard &#{$filter-selectors}:focus {
      @content;
    }
  } @else {
    .use-keyboard &#{$filter-selectors}:focus {
      @content;
    }
  }
}

// Wraps hover styles in class for pointer input mode only
@mixin hover($filter-selectors: '', $additional-selectors: false) {
  @if $additional-selectors {
    #{$additional-selectors},
    .use-pointer &#{$filter-selectors}:hover {
      @content;
    }
  } @else {
    .use-pointer &#{$filter-selectors}:hover {
      @content;
    }
  }
}

.button {
  display: inline-block;
  height: $btn-height;
  padding: $btn-padding-y $btn-padding-x;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  line-height: 1.4rem;
  background-color: #a28bbb;
  border-width: 1px;
  border-style: solid;
  border-color: $btn-border-color;
  border-radius: $btn-radius;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
  }

  @include hover() {
    color: $btn-color;
    box-shadow: $btn-shadow rgba($btn-color, .3);

    &:active {
      box-shadow: unset;
    }
  }

  &:active {
    background-color: darken(#a28bbb, 10%);
  }
}